/* START: frame */
.frame {
    width: 100%;
    display: flex;
    overflow: hidden;
    /*background: #015478;*/
}

.frame-block {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.leftBlock {
    min-width: 140px;
    max-width: 140px;
    background: #fff;
    position: relative;
    z-index: 9;
}

.leftBlock-inner {
    position: fixed;
    width: 140px;
    height: 100%;
    overflow-y: auto;
}

.menu-close {
    margin-left: -140px;
}

.rightBlock {
    width: calc(100% - 140px);
    min-height: 100vh;
    background: #fff;
}

.right-fluid {
    width: 100%;
}

.headerModule {
    height: 40px;
    position: fixed;
    z-index: 10;
    border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
    background: #E60012;
}

.mainModule {
    width: 100%;
    height: 100%;
    display: flex;
}

.content {
    width: 100%;
    padding: 40px 0 20px;
}

.aside {
    width: 40px;
    padding: 10px 0;
    position: fixed;
    right: 0;
    height: 100%;
    top: 40px;
    z-index: 5;
    background: #fff;
    border-left: #eee solid 1px;
}

.aside a {
    height: 40px;
    display: block;
    color: #555;
    text-align: center;
    position: relative;
}

.aside a.aside-active {
    color: #0e4c6d;
    background: rgba(255, 255, 255, 0.2);
}

.aside a span {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.content-component {
    padding: 0 10px;
    margin-right: 40px;
}

.tooltip-inner {
    font-size: 0.875rem;
}

.tbd-content {
    color: #aaa;
    padding: 10px;
}

/* END: frame */
/* START: aside-group */
.aside-group {
    width: 160px;
    height: calc(100% - 40px);
    position: fixed;
    right: 40px;
    top: 40px;
    margin-right: -160px;
    background: #f7f7f7;
    border-left: #ddd solid 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    /*-webkit-box-shadow: -4px 0px 12px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -4px 0px 12px 0px rgba(0, 0, 0, 0.15);
    box-shadow: -4px 0px 12px 0px rgba(0, 0, 0, 0.15);*/
}

.aside-open {
    margin-right: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.aside-item-title {
    padding: 8px 5px;
    color: #0E4C6D;
    background: #eee;
}

.aside-item-title::before {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
    background: #0E4C6D;
    margin-right: 5px;
}

.aside-item-detail {
    padding: 10px 5px;
    overflow-y: auto;
}

.aside-item-detail ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-item-detail li {
    width: 100%;
    display: table;
    table-layout: fixed;
    color: #fff;
    background: #0E4C6D;
    border-radius: 4px;
    overflow: hidden;
    padding: 7px;
    margin-bottom: 6px;
}

.aside-item-detail li>span {
    display: table-cell;
    vertical-align: top;
}

.aside-item-detail li a {
    color: #fff;
    display: block;
}

/* 標籤紀錄 */
.aside-group-history .tag-link a {
    font-size: 0.875rem;
}

.aside-group-history .tag-link a::before {
    font-family: 'Material Icons';
    content: "open_in_new";
    font-feature-settings: 'liga';
    margin-right: 3px;
    font-size: 0.75rem;
}

.aside-group-history .tag-cancel {
    width: 20px;
    text-align: center;
}

.aside-group-history .tag-cancel a>span {
    font-size: 1rem;
}

.aside-group-history .tag-null {
    border: #ccc solid 1px;
    background: #eee;
    color: #777;
    font-size: 0.875rem;
}

.history-cancel {
    padding: 15px 0;
}

.history-cancel-inner {
    padding-top: 15px;
    border-top: rgba(170, 170, 170, 0.2) solid 1px;
}

.history-cancel a {
    display: block;
    border: #FF6621 solid 1px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    color: #FF6621;
}

.history-cancel a:hover {
    background: #FF6621;
    color: #fff;
}

.history-cancel span {
    display: block;
    border: #FF6621 solid 1px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    color: #FF6621;
    opacity: 0.4;
}

/* END: aside-group */
/* START: menu */
.frame-logo a {
    height: 40px;
    display: block;
    position: relative;
    background: #E60012;
    -webkit-box-shadow: inset -2px 0px 1px 0px rgba(85, 85, 85, 0.15);
    -moz-box-shadow: inset -2px 0px 1px 0px rgba(85, 85, 85, 0.15);
    box-shadow: inset -2px 0px 1px 0px rgba(85, 85, 85, 0.15);
}

.frame-logo img {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.frame-logo img {
    fill: #fff;
}

.frame-logo a:hover img {
    opacity: 0.7;
}

.menu-filter {
    padding: 9px 7px;
}

.menu-filter input {
    height: 27px;
    border: #eee solid 1px;
    color: #333;
    font-size: 0.875rem;
    border-radius: 4px;
}

.menu-pgName {
    color: #E60012;
    font-weight: bold;
    padding: 5px;
}

.menu-pgName span::before {
    font-family: 'Material Icons';
    content: "topic";
    font-feature-settings: 'liga';
    margin-right: 5px;
    vertical-align: bottom;
}

.menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    border-bottom: #f1f1f1 solid 1px;
}

.menu-list a {
    display: block;
    padding: 8px;
    color: #555;
    text-decoration: none;
}

.menu-list a:hover,
.menu-list a:active {
    color: #026D93;
}

.menu-list span {
    display: block;
}

.menu-list span {
    font-size: 0.875rem;
}

.menu-list span:nth-child(1) {
    font-size: 0.625rem;
}

/* END: menu */
/* START: header */
.headerModule-inner {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.header-item {
    display: table-cell;
    vertical-align: middle;
}

.menu-btn,
.header-unit {
    display: inline-block;
    vertical-align: middle;
}

.menu-btn {
    padding: 0 10px;
}

.header-unit ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    table-layout: fixed;
}

.header-unit li {
    display: table-cell;
    border-right: rgba(255, 255, 255, 0.4) solid 1px;
}

.header-unit li:nth-child(1) {
    border-left: rgba(255, 255, 255, 0.4) solid 1px;
}

.header-unit li>a {
    height: 40px;
    line-height: 40px;
    color: #fff;
    display: block;
    padding: 0 15px;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.header-unit li>a:hover {
    background: #CC000C;
}

.menu-btn a {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
}

.menu-bar {
    width: 20px;
    height: 2px;
    display: block;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.menu-bar::before {
    content: "";
    width: 20px;
    height: 2px;
    display: block;
    background: #fff;
    position: absolute;
    border-radius: 30px;
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -o-transform: translateY(-7px);
}

.menu-bar::after {
    content: "";
    width: 20px;
    height: 2px;
    display: block;
    background: #fff;
    position: absolute;
    border-radius: 30px;
    transform: translateY(7px);
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
}

a.menu-active .menu-bar {
    width: 14px;
    height: 2px;
    display: block;
    background: #fff;
    position: absolute;
    border-radius: 30px;
}

.header-title-name h1 {
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.1rem;
}

.header-info {
    text-align: right;
    padding: 0 10px;
}

.header-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-info li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.header-info a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.header-info a:hover {
    color: #333;
}

.header-info select {
    font-size: 14px;
    border-radius: 4px;
    color: #333;
}

.header-info-home span {
    font-size: 1.75rem;
    line-height: 1;
    vertical-align: middle;
}

.header-info-time span {
    color: #fff;
}

.header-info-time span::before {
    font-family: 'Material Icons';
    content: "hourglass_bottom";
    font-feature-settings: 'liga';
    margin-right: 2px;
    vertical-align: bottom;
    color: rgba(255, 255, 255, 0.8);
}

.header-info-logout {
    border-left: rgba(255, 255, 255, 0.4) solid 1px;
}

.header-info-logout a {
    padding: 0 4px 0 10px;
}

/* END: header */
/* START: breadcrumb */
.content-breadcrumb {
    padding: 9px 15px;
}

.content-breadcrumb ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content-breadcrumb li {
    display: inline-block;
    vertical-align: middle;
}

.content-breadcrumb li::after {
    content: "/";
    margin: 0 2px 0 4px;
    color: #555;
    font-size: 0.75rem;
}

.content-breadcrumb li:nth-last-child(1)::after {
    content: "";
}

.content-breadcrumb li:nth-child(1)::before {
    font-family: 'Material Icons';
    content: "location_on";
    font-feature-settings: 'liga';
    color: #E60012;
    vertical-align: bottom;
    margin-right: 4px;
}

.content-breadcrumb a {
    font-size: 0.875rem;
    line-height: 1;
    color: #bbb;
}

.content-breadcrumb a:hover {
    color: #111;
}

.content-breadcrumb li:nth-child(1) a,
.content-breadcrumb li:nth-last-child(1) a {
    color: #555;
}

/* END: breadcrumb */
/* START: search */
.search-inner {
    border-bottom: rgba(170, 170, 170, 0.3) solid 1px;
    margin-bottom: 12px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    overflow: hidden;
}

.search-field-input {
    padding: 10px 12px;
    background: rgba(255, 255, 255, 0.8);
}

.field-inner form {
    display: table;
    table-layout: fixed;
}

.field-item {
    display: table-cell;
    vertical-align: middle;
}

.field-item select,
.field-item input {
    border: none;
    outline: none;
}

.field-select {
    border: #aaa solid 1px;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    background: #fff;
}

.field-select select {
    border-right: #aaa solid 1px;
    padding: 0 10px 0 5px;
    box-shadow: none;
}

.field-input {
    border: #aaa solid 1px;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    background: #fff;
}

.field-input input {
    width: 310px;
}

.field-Btn {
    padding-left: 10px;
}

.field-Btn button {
    background: #FF6621;
    border-radius: 30px;
    padding: 4px 30px;
    color: #fff;
}

.field-Btn button:hover {
    background: #ff4f00;
}

.search-field-result {
    padding: 4px 10px 0;
}

.field-result-inner {
    width: 100%;
    padding: 3px 0;
}

.search-field-result div {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.875rem;
    font-weight: bold;
    color: #015478;
}

.field-result-inner div:nth-child(1)::before {
    content: "●";
    margin-right: 3px;
}

.field-result-inner div:nth-child(1)::after {
    content: "|";
    margin: 0 2px 0 4px;
}

.field-result-inner div:nth-child(2)::after {
    content: "：";
}

.field-result-inner div:nth-child(3)::after {
    content: "，";
}

.search-field-result span {
    font-size: 0.875rem;
    margin: 0 4px;
}

.search-field-result span.dataNull {
    color: #ba434e;
}

.resultToggleBtn {
    float: right;
}

.resultToggleBtn a {
    width: 20px;
    height: 20px;
    display: block;
    border: #0E4C6D solid 1px;
    position: relative;
    border-radius: 30px;
    color: #fff;
    background: #0E4C6D;
}

.resultToggle-up::after {
    font-family: 'Material Icons';
    content: "arrow_drop_up";
    font-feature-settings: 'liga';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.resultToggle-down::after {
    font-family: 'Material Icons';
    content: "arrow_drop_down";
    font-feature-settings: 'liga';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* END: search */
/* START: highlight */
.content-highlight {
    padding-top: 10px;
}

.highlight-inner {
    width: 100%;
    display: table;
    /*table-layout: fixed;*/
    padding: 7px 10px;
    background: #015478;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.highlight-item {
    display: table-cell;
    vertical-align: top;
}

.highlight-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.highlight-item li {
    display: inline-block;
    vertical-align: middle;
    color: #f2f2f2;
}

.highlight-item.insurance-info li {
    margin-right: 12px;
}

.highlight-item.insurance-info li span:nth-child(1)::after {
    content: "：";
    margin-right: -4px;
}

.highlight-insurance-no span:nth-child(1)::before {
    font-family: 'Material Icons';
    content: "description";
    font-feature-settings: 'liga';
    font-size: 1.125rem;
    margin-right: 3px;
    vertical-align: middle;
    color: #FACD91;
}

.highlight-insurance-applicant span:nth-child(1)::before {
    font-family: 'Material Icons';
    content: "person_pin";
    font-feature-settings: 'liga';
    font-size: 1.125rem;
    margin-right: 3px;
    vertical-align: middle;
    color: #FACD91;
}

.highlight-insurance-assured span:nth-child(1)::before {
    font-family: 'Material Icons';
    content: "person_pin";
    font-feature-settings: 'liga';
    font-size: 1.125rem;
    margin-right: 3px;
    vertical-align: middle;
    color: #FACD91;
}

.insurance-type {
    text-align: right;
}

.insurance-type li {
    border: rgba(255, 255, 255, 0.2) solid 1px;
    padding: 4px 10px;
    border-radius: 30px;
    font-size: 0.875rem;
    line-height: 1;
    background: rgba(255, 255, 255, 0.4);
    margin-left: 5px;
}

.highlight-insurance-no a {
    border: #fff solid 2px;
    border-radius: 4px;
    padding: 3px 5px;
    color: #555;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
    background: #f6f8f9;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9', GradientType=0);
    /* IE6-9 */
}

.highlight-insurance-no a:hover {
    transform: translate(1px, 1px);
    -webkit-transform: translate(1px, 1px);
}

.highlight-insurance-no a::before {
    font-family: 'Material Icons';
    content: "mail_outline";
    font-feature-settings: 'liga';
    vertical-align: middle;
    margin-right: 3px;
}

/* END: highlight */
/* START: unitname */
.content-unitname {
    padding: 6px 0;
    margin-bottom: 5px;
}

.unitname-title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: #026D93;
    word-break: keep-all;
    white-space: nowrap;
}

.unitname-title::before {
    font-family: 'Material Icons';
    content: "label";
    font-feature-settings: 'liga';
    vertical-align: middle;
    color: #038CC7;
    margin-right: 3px;
    font-size: 1.3725rem;
}

/* END: unitname */
/* START: card */
.content-card {
    height: calc(100% - 25px);
    padding: 10px 15px;
    background: #F4F4F4;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

/* END: card */
/* START: card-detail >> title */
/* END: card-detail >> title */
/* START: card-detail >> board */
.detail-board {
    border: #eee solid 1px;
    border-radius: 5px;
    background: #fff;
    padding: 5px 0;
}

/* END: card-detail >> board */
/* START: card-detail >> table */
.detail-table {
    border: #ccc solid 2px;
    background: #fff;
}

.detail-table .row {
    margin: 0;
    height: 100%;
}

.table-col {
    padding: 0;
    border: #ccc solid 1px;
}

.table-col-title {
    background: #aaa;
    padding: 0;
    color: #fff;
    padding: 2px 5px;
    font-size: 0.875rem;
}

.table-col-detail {
    height: 100%;
    padding: 0;
    word-break: break-all;
    padding: 2px 5px;
    font-size: 0.875rem;
}

.table-col .table-col-detail.detail-mark {
    background: #ffc107 !important;
}

/* END: card-detail >> table */
/* START: card-detail >> detail-board-tab */
/* END: card-detail >> detail-board-tab */
/* START: date-picker */
/* END: date-picker */
/* START: copyright */
.content-copyright {
    font-size: 0.75rem;
    color: #aaa;
    text-align: right;
    padding: 5px;
    margin-right: 0;
}

/* END: copyright */
/* START: table */
.content-table {
    padding: 0;
    margin: 0;
}

.table-func {
    padding: 6px 0;
    border-top: rgba(255, 255, 255, 0.6) dotted 1px;
}

.table-filter,
.table-switch {
    display: inline-block;
    vertical-align: middle;
}

.table-filter {
    padding-right: 5px;
}

.table-filter-title,
.table-filter-field {
    display: table-cell;
    vertical-align: middle;
}

.table-filter-title {
    color: #015478;
    padding-right: 5px;
    font-size: 0.875rem;
}

.table-filter-field input {
    outline: none;
    width: 120px;
    height: 24px;
    border-radius: 4px;
    font-size: 0.875rem;
}

.table-switch-list {
    display: inline-block;
    position: relative;
}

.table-switch-list .anchor {
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    color: #fff;
    padding: 0 15px;
    font-size: 0.875rem;
    border-radius: 4px;
    border: #ccc solid 1px;
    background: #777;
}

.table-switch-list .items {
    width: 250%;
    position: absolute;
    z-index: 9;
    background: #f9f9f9;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow: auto;
    display: none;
    padding: 0;
    margin: 0;
}

.table-switch-list.visibile .items {
    display: block;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.3);
}

.table-switch-list .items-row {
    margin: 0;
}

.table-switch-list .items-col {
    padding: 0;
}

.table-switch-list .items-col {
    border-bottom: #ccc solid 1px;
}

.table-switch-list .items-col:hover {
    background: #eee;
}

.table-switch-list .items-inner {
    display: table;
    padding: 5px;
}

.table-switch-list .items input {
    margin-right: 4px;
    display: table-cell;
    cursor: pointer;
}

.table-switch-list .items label {
    display: table-cell;
    cursor: pointer;
    font-size: 0.875rem;
}

.table-switch-list.visible .anchor {
    color: #0094ff;
}

.table-switch-list.visible .items {
    display: block;
}

.content-table {
    padding: 0 10px 10px;
}

.content-table .tabulator {
    border: none;
    background: #aaa;
}

.content-table .tabulator .tabulator-header {
    background: #aaa;
    color: #fff;
}

.content-table .tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
    background: #ccc;
}

.content-table .tabulator .tabulator-header .tabulator-col {
    background: none;
    font-weight: normal;
}

.content-table .tabulator-col-title,
.content-table .tabulator-cell {
    font-size: 0.875rem;
}

.content-table .tabulator-row.tabulator-row-even {
    background: #f7f7f7;
}

.content-table .tabulator-row:hover {
    background: #F6EFE6;
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(14, 76, 109, 1);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(14, 76, 109, 1);
    box-shadow: inset 0px 0px 0px 2px rgba(14, 76, 109, 1);
}

.content-table .tabulator-paginator label {
    font-size: 0.875rem;
}

.content-table .tabulator .tabulator-footer .tabulator-page-size {
    padding: 0;
}

.content-table .tabulator .tabulator-footer .tabulator-page {
    font-size: 0.875rem;
    padding: 1px 5px;
    vertical-align: bottom;
}

/* END: table */
/* START: popup */
/* END: popup */
/* START: btn */
.content-btn {
    padding: 0;
    margin: 0;
}

.content-btn ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content-btn li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px;
    margin-bottom: 10px;
}

.content-btn button {
    padding: 8px 35px;
    font-size: 1rem;
    line-height: 1;
    border-radius: 5px;
}

button.content-btn-primary {
    background: #aaa;
    color: #fff;
    border: #ccc solid 1px;
}

button.content-btn-primary-line {
    background: rgba(1, 84, 120, 0.1);
    color: #015478;
    border: #015478 solid 1px;
}

button.content-btn-second {
    background: #28a745;
    color: #fff;
    border: #28a745 solid 1px;
}

button.content-btn-second-line {
    background: rgba(40, 167, 69, 0.1);
    color: #28a745;
    border: #28a745 solid 1px;
}

button.content-btn-disable {
    background: #eee;
    border: #aaa solid 1px;
    color: #aaa;
    cursor: not-allowed;
}

div.content-btn-disable {
    border: #fff solid 2px;
    border-radius: 4px;
    padding: 3px 5px;
    color: #aaa;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1;
    background: #eee;
}

div.content-btn-disable::before {
    font-family: 'Material Icons';
    content: "mail_outline";
    font-feature-settings: 'liga';
    vertical-align: middle;
    margin-right: 3px;
}

button.content-btn-warning {
    background: #dc3545;
    border: #dc3545 solid 1px;
    color: #fff;
}

.content-btn button:not(.content-btn-disable):hover {
    opacity: 0.8;
}

/* END: btn */
/* START: query */
.card-board-query {
    border: #d7d7d7 solid 1px;
    border-radius: 4px;
    margin-bottom: 4px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(17, 17, 17, 0.05);
    -moz-box-shadow: 3px 3px 5px 0px rgba(17, 17, 17, 0.05);
    box-shadow: 3px 3px 5px 0px rgba(17, 17, 17, 0.05);
}

.content-query {
    margin: 0;
}

.query-row {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-bottom: #ccc dotted 1px;
}

.query-row:nth-child(even) {
    background: #f9f9f9;
}

.query-row:nth-last-child(1) {
    border-bottom: none;
}

.query-field {
    display: table-cell;
    vertical-align: top;
    padding: 5px 10px 5px 5px;
}

.query-field-inner {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.query-field-item {
    display: table-cell;
}

.query-field-title {
    width: 120px;
    text-align: right;
    padding: 0 3px;
    color: #015478;
    font-size: 0.875rem;
    font-weight: bold;
}

.query-field-entry input {
    border-radius: 4px;
    padding: 2px 4px;
}

/* END: query */
/* START: note */
/* END: note */
@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1199px) {

    /* START: highlight */
    .highlight-item {
        display: block;
        text-align: left;
    }

    .insurance-info {
        border-bottom: #eee dotted 1px;
    }

    .insurance-type {
        padding: 8px 0 4px;
    }

    /* END: highlight */
}

@media only screen and (min-width: 992px) {}

@media only screen and (max-width: 991px) {

    /* START: frame */
    .leftBlock {
        margin-left: -160px;
    }

    .menu-close {
        margin-left: 0;
    }

    .rightBlock {
        width: 100%;
    }

    /*.right-fluid {
        width: calc(100% - 160px);
    }*/

    .aside {
        width: 45px;
        height: inherit;
        top: inherit;
        bottom: 20px;
        right: 10px;
        padding: 10px 0;
        border: #fff solid 2px;
        border-radius: 30px;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(85, 85, 85, 0.8);
        -moz-box-shadow: 5px 5px 10px 0px rgba(85, 85, 85, 0.8);
        box-shadow: 5px 5px 10px 0px rgba(85, 85, 85, 0.8);
    }

    /*.aside a {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }*/

    .aside a.aside-active {
        background: none;
    }

    .content-component {
        margin-right: 0;
    }

    /* END: frame */
    /* START: aside-group */
    .aside-group {
        right: 0;
    }

    /* END: aside-group */
    /* START: search */
    .field-inner form {
        width: 100%;
    }

    .field-input input {
        width: 100%;
    }

    .field-select {
        width: 200px;
    }

    .field-select select {
        width: 100%;
    }

    .field-Btn {
        width: 120px;
        text-align: center;
    }

    /* END: search */
    /* START: card-detail >> board */
    .sbs-board {
        margin-bottom: 10px;
    }

    .sbs-board:nth-last-child(1) {
        margin-bottom: 0;
    }

    /* END: card-detail >> board */
}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767px) {

    /* START: header */
    .header-title-name {
        display: none;
    }

    .header-title {
        width: 50px;
    }

    /* END: header */
}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 440px) {}

@media only screen and (max-width: 350px) {}

@media only screen and (max-width: 200px) {}