/* START: login.html */
.login {
    height: 100%;
}

.login-inner {
    height: 100%;
    background: url('../img/login_bg.png') center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-bottom: #E60012 5px solid;
}

.login-container {
    border: #aaa solid 1px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* END: login.html */

@media only screen and (max-width: 1280px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 440px) {}

@media only screen and (max-width: 420px) {}